.Title {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

.Listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Listing form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.Listing input,
.Listing button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.Listing input:focus,
.Listing button:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.Listing button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Listing button:hover {
  background-color: #45a049;
}



.ItemListing {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.ItemList {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box; 
}

.ItemList img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ItemList p {
  margin: 0;
}
